.product-adds__item {
    border: none;
    padding: 3px;
    text-align: left;
}

.product-adds__img {
    height: 310px;
    width: 100%;
    object-fit: cover;
}

.product-adds__img--big {
    height: 630px;
}

.product-adds__name {
    font-size: 16px;
    max-width: 50%;
}

.product-adds__link {
    color: $primary-color;
    font-size: $small-text-size;
}