.product-carousel {
    background-color: #263a49;
}

.product-carousel__item {
    padding: 25px;
}

.product-carousel__next {
    top: 50%;
    transform: translate(10%, -50%);
}

.product-carousel__prev {
    top: 50%;
    transform: translate(-10%, -50%);
}

.carousel__button {
    width: 36px;
}