body {
    background: #ffffff;
    font-family: "Red Hat Display", Arial;
    color: $primary-color;
}

section {
    padding: 20px;
}

.page__container {
    margin-left: 15%;
    margin-right: 15%;
}

.content-section__header {
    text-align: center;
    margin-top: 5vh;
    margin-bottom: 5vh;
    font-size: 48px;
}

.mxauto {
    margin: auto;
}
